/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require prettify/prettify
 *= require jquery.ui.all
 *= require timelineJS/timeline
 *= require_tree .
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url('glyphicons.eot');
  src: url(font-path('glyphicons.eot') + '?#iefix') format('embedded-opentype'),
       font-url('glyphicons.woff') format('woff'),
       font-url('glyphicons.ttf')  format('truetype'),
       url(font-path('glyphicons.svg') + '#glyphicons_halflingsregular') format('svg');
}

footer {
	margin-top: 20px;
}