// Place all the styles related to the demo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.addition {
	background: #DFD !important;
}

.change {
	background: #FFD !important;
}

.deletion {
	border-bottom: 20px solid #FDD !important;
}

body {
	padding-top: 50px;
}