// Place all the styles related to the demo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.addition {
	background: #DFD !important;
}

.change {
	background: #FFD !important;
}

.deletion {
	border-top: 18px solid #FDD !important;
}

.loading {
	opacity: 0.3;
}

.vco-feature {
	opacity: 0;
}

.vco-navigation {
	top:  -15px;
}

#chart {
	margin-bottom: 20px;
}