// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
	text-align: center;
}

.input-tiny {
	width: 30px;
}

.file-row {
  text-align: center;
}

.file-row span {
  font-size: 50px;
  width: 100%;
}

#five-fixes span {
  color: red;
}

#five-watches span {
  color: yellow;
}

.chart {
  height: 350px;
  background-color: white;
  // border-radius: 5px;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  width: 350px;
  font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.d3-tip img {
  float: left;
  border-radius: 24px;
}

.d3-tip .commit-author {
  float: left;
  width: 268px;
  margin-left: 10px;
}

.d3-tip .author-name {
  font-weight: bold;
  margin-top: 4px;
  display: inline-block;
}

.d3-tip .commit-date {
  margin-top: 10px;
  width: 100%;
  float: left;
}

.input-sm {
	color: black;
}

#metric_id_metric_name {
	width: 100%;
}

#project_id_project_name {
	width: 100%;
}

#options.affix {
  position: fixed;
  top: 0px;
}

#gradient-points {
	width: 100%;
}