// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-darker {
  background-color: #2B3E50;
}

.center {
	text-align: center;
}

.input-tiny {
	width: 30px;
}

.file-row {
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 140px;
}

.file-row .col-md-4 {
  height: 140px;
}

.file-row span {
  font-size: 50px;
  width: 100%;
}

.file-row span.tick-cross {
  font-size: 20px;
  width: auto;
  color: #ccc;
}

.file-row h4 {
  color: #EBEBEB;
}

.file-row a {
  text-decoration: none;
}

// #five-watches span {
//   color: yellow;
// }

.chart {
  height: 350px;
  background-color: white;
  // border-radius: 5px;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  width: 350px;
  font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.d3-tip img {
  float: left;
  border-radius: 24px;
}

.d3-tip .commit-author {
  float: left;
  width: 268px;
  margin-left: 10px;
}

.d3-tip .author-name {
  font-weight: bold;
  margin-top: 4px;
  display: inline-block;
}

.d3-tip .commit-date {
  margin-top: 10px;
  width: 100%;
  float: left;
}

.input-sm {
	color: black;
}

#metric_id_metric_name {
	width: 100%;
}

#project_id_project_name {
	width: 100%;
}

#options.affix {
  position: static;
}

@media(min-width: 768px) {
  #options.affix {
    position: fixed;
    top: 0px;
  }
}

#gradient-points {
	width: 100%;
}

.project-chart .axis {
  shape-rendering: crispEdges;
  background-color: #2B3E50;
}

.project-chart .axis line {
  stroke: #fff;
}

.project-chart .axis path {
  fill: none;
  stroke: none;
}

.project-chart .axis .tick text {
  fill: #fff;
  stroke: none;
}

.file-chart .axis path {
  stroke-width: 2;
  fill: none;
  stroke: #000;
}

.file-chart .axis line {
  stroke-width: 1px;
  stroke: #000;
}

.chart-x-label {
  text-align: center;
  margin-top: 30px;
}

.chart {
  margin-left: 50px;
}

#chart-churn svg {
  margin-left: -50px;
}

#chart-lifeline svg {
  margin-left: -50px;
}

#animation-controls {
  margin-left: 50px;
  margin-top: -50px;
}

.chart-y-label{
  transform: rotate(-90deg);
  -ms-transform:rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  position: relative;
  top: -178px;
  left: -170px;
  height: 0px;
  width: 350px;
  text-align: center
}

.chart-y-label.file-view {
  color: black;
  left: -160px;
}

.chart-x-label.file-view {
  color: black;
  position: relative;
  top: -40px;
  margin-top: 0px;
}

#file-view-chart {
  height: 350px;
  background-color: white;
}

.commit-info {
  height: 85px;
}

p.font-changer {
  position: relative;
  margin-top: -34px;
  text-align: right;
}